.comment-section {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.comment-title {
  text-align: left;
  margin-bottom: 20px;
}

.author {
  text-align: left;
}
.commentStar {
  border: 3px solid blue;
  margin: auto;
}
.inline {
  display: inline-block;
  margin: 10px;
  border: 3px solid green;
}

.progressbar-pic {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.progressbar {
  width: 50%;
  margin: auto;
}

.input-section {
  margin: auto;
}

.commentBox {
  float: right;
}
.authorBox {
  float: right;
}
